
<nav class="nav-menu">
    <ul class="name">
        <li> 
            <button mat-flat-button>Emmanuel FEZEU YOUMBI</button>
            <!-- <a mat-button href="https://www.google.com/" target="_blank">Emmanuel FEZEU YOUMBI</a> -->
        </li>
    </ul>
    <ul class="menu">
        <li><button mat-flat-button>Home</button></li>
        <li><button mat-flat-button>About</button></li>
        <li><button mat-flat-button>Skills</button></li>
        <li><button mat-flat-button>Projects</button></li>
        <li><button mat-flat-button>Contacts</button></li>

    </ul>
</nav>

<!-- <mat-toolbar color="primary">
    <ul class="name">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
    </ul>
    <ul class="menu">
        <button mat-fab extended color="primary">
            <mat-icon>favorite</mat-icon>
            Primary
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
        </button>
    </ul>
</mat-toolbar> -->

