<nav class="container">
      <!-- <button mat-icon-button color="accent" class = "fils1">
        <mat-icon>menu</mat-icon>
      </button> -->
    <nav class="nav-menu">
        <ul class="name">
            <li> 
                <button mat-flat-button>Emmanuel FEZEU YOUMBI</button>
                <!-- <a mat-button href="https://www.google.com/" target="_blank">Emmanuel FEZEU YOUMBI</a> -->
            </li>
        </ul>
        <ul class="menu">
            <li><button mat-flat-button (click)="goHome()">Home</button></li>
            <li><button mat-flat-button (click)="goToAboutMe()">About</button></li>
            <li><button mat-flat-button (click)="showSkills()">Skills</button></li>
            <li><button mat-flat-button (click)="goToProjects()">Projects</button></li>
            <li><button mat-flat-button (click)="showContacts()">Contacts</button></li>

        </ul>
    </nav>
</nav>

<!-- <mat-toolbar color="primary">
    <ul class="name">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
    </ul>
    <ul class="menu">
        <button mat-fab extended color="primary">
            <mat-icon>favorite</mat-icon>
            Primary
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
        </button>
    </ul>
</mat-toolbar> -->

