<aside>
        
    <img src="assets/images/Home.jpg" alt="FYE" class="personne">
    <ul classe="side">
        <li class="liste"><mat-icon >person</mat-icon><span>Emmanuel FEZEU YOUMBI</span></li>
        <mat-divider></mat-divider>
        <li class="liste"><mat-icon>location_on</mat-icon><span>currently living in France</span></li>
        <mat-divider></mat-divider>
        <li class="liste"><mat-icon >school</mat-icon><span>Computer Engineering Student</span></li>
        <mat-divider></mat-divider>
        <li class="langue"><mat-icon >language</mat-icon><span>French , English</span></li>
        <mat-divider></mat-divider>
        <li class="pays"><mat-icon >flag</mat-icon><span>Camerounian</span></li>
    </ul>
    <a 
    [href]="sourcePath"
    [download]="fileName"
    title="download {{ fileName }}">
    <!-- <button mat-raised-button color="primary"><mat-icon inline>get_app</mat-icon>Download my CV</button>        -->
    <button mat-raised-button ><mat-icon inline>get_app</mat-icon>Download my CV</button>       
    </a>
</aside>