<ul class = "element">
     <ul class="social-network">
        <li><strong><em>Follow: </em></strong></li> 
        <a [href]="GithubLink" target="_blank" rel="noopener" title="view FYE on github"><img  src="../../assets/images/svgs/github.svg" alt="Github icon" sizes=""></a>
        <a [href]="GmailLink" target="_blank" rel="noopener" title="view FYE on gmail"><img src="../../assets/images/svgs/gmail.svg" alt="gmail icon"></a>
        <a [href]="DiscordLink" target="_blank" rel="noopener" title="view FYE on discord"><img src="../../assets/images/svgs/discord.svg" alt="Discord icon"></a>                     
    </ul>
    <ul class="copyright">
        <h6>
            © 2023 Copyright: Emmanuel FEZEU YOUMBI
        </h6>
    </ul>
   
</ul>
