@media(min-width : 801px){

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        flex-grow: 1  ;
        gap: 5%;
       margin-bottom: 0%;
       align-items: center;
       justify-items: center;
        /* background-color: blueviolet; */
    }

    .contenu{
        display: flex;
        flex-direction: column;
        background-color: rgb(198, 212, 212);
        flex-grow: 1;
        width: 100%;
        height: 100%;
        gap: 10%;

    }

    section{
        /* border: 1px solid black; */
        flex-grow:  1;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 10%;
        margin-top: 5%;

    }

    .other{
        display: flex;
        flex-direction: column;
        flex: 1;
        gap : 10px
    }

    .social-bloc{
        display: flex;
        flex-direction: row;

    }



   

}


@media(max-width : 800px){

    
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-grow: 1  ;
        gap: 5%;
        margin-left: 10%;
        margin-top: 10%;
        /* background-color: rgb(53, 85, 85); */


    }  

    .contenu{
        display: flex;
        flex-direction: column;
        /* background-color: aqua; */
        flex-grow: 1;
        width: 100%;
        height: 100%;
        gap: 10%;
    }

    section{
        /* background-color: bisque; 
        border: 1px solid black; */
        flex-grow:  1;
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 10%;
        margin-top: 5%;

    }

    .social-bloc{
        display: flex;
        flex-direction: row;
    }

}

h2{
    font-family: Georgia;
    font-weight: bolder;
}

span,a{
    font-family: Georgia;
}
   

.social{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

mat-icon{
    color: rgb(173, 137, 208);
}

.other{
    display: flex;
    flex-direction: column;
    flex: 1;
}

img{
    height: 30px;
}

  