<article class="container">
    <div class="contenu">
        <section class="section1">
            <div class="recommend">
                <h2><mat-icon>recommend</mat-icon>Recommended</h2>
                <div class="social">
                    <span><mat-icon>gmail</mat-icon></span>
                    <a href="mailto:yfezeu.emma@gmail.com" title="view FYE on gmail">Send me an Email</a>
                </div>
                <span>I will answer as soon as possible.  Thanks</span>
            </div>
            <div class="other">
                <h2><mat-icon>contact_support</mat-icon>Other Methods</h2>
                <div class="social-bloc">
                        <span><mat-icon>discord</mat-icon></span>
                        <a href="https://discordapp.com/users/FYE#6146" target="_blank" rel="noopener" title="view FYE on Discord">Send me a Message on Discord</a>
                </div>
                <div class="social-bloc">
                    <a href="https://github.com/FYE237" target="_blank" rel="noopener" title="view FYE on github"><img  src="assets/images/svgs/github.svg" alt="Github icon" >Follow me on github</a>
                </div>
                <div class="social-bloc">
                    <span><mat-icon>telegram</mat-icon></span>
                    <a href="https://t.me/FYE237" title="view FYE on Discord">Send me a Message on Telegram</a>
            </div>
            </div>
        </section>
    </div>
</article>
