header{
   margin: 0%;
   display: flex;
   flex-direction: row;
   width: 100%;

}

app-head{
    display: flex;
    flex-direction: row;
    width: 100%;
}

main{
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    height: 80vh;
}


/* On fait que le footer occupe tout l'espac disponible en dessous */
footer{
    background-color: rgb(194, 198, 193);
    text-align: center;
    justify-content: center;
    height: 20vh;
    bottom: 0%;
    position: fixed; /* Pour que le footer reste tout le temps en dessous*/
    width: 100%;
    border-top: 1px solid black;
}