

<article class="container">
    <app-side-bar></app-side-bar>
    <mat-divider [vertical]="true" class="diviseur1"></mat-divider>
    <article class = "contenu">
        <section class="contenu1">
            <div>
                <h2>Who  Am I ?</h2>
            </div>
            <mat-divider></mat-divider>
            <div>
                <em>“It is always necessary to aim at the moon so if we miss it we will fall in the stars .”</em>
                <p>I am a young Cameroonian IT Engineering Student currently on double degrees  at the Yaounde National Advanced School of Engineering (Best Central Africa school of Engineering) & ENSIMAG of Grenoble(France).
                    Passionate by software engineering and cybersecurity. I have excellent analytics skills , good thinking skills, which allow me to solve effectively in front of concrets problems.
                    
                    I’m a polyglot fullstack programmer, able to work server-side with  Java Spring or Express-NodeJS to develop secure applications and AngularJS or ReactJS client-side.I can also develop android application using ReactNative , Flutter framework.
                    I  am also familiar with developping  Desktop applications using JavaFX. On the other hand. Concerning cybersecurity, I am working on platforms like TryHackMe, HackTheBox. It helps to understand the differents aspects of this fields. I hope that this will help me through my carreer in the cybersecurity path.
                    I also have human skills, teamwork, work under pressure and love of work well done.</p>
            </div>
            <!-- <mat-divider></mat-divider> -->
            <div>
                <h2>Fields of expertise</h2>
            </div>
            <mat-divider></mat-divider>
            <section class = "field">
                <div class="field2">
                    <div class="domaine">   
                        <span><mat-icon>web</mat-icon>Web Developpement</span>
                    </div>
                    <div class="domaine">   
                        <span><mat-icon>phone_android</mat-icon>Android Developpement</span>
                    </div>
                    <div class="domaine">   
                        <span><mat-icon>storage</mat-icon>DataBase</span>
                    </div>
                    <div class="domaine">   
                        <span><mat-icon>policy</mat-icon>cybersecurity</span>
                    </div>  
                    <!-- <div></div>                        -->
                </div>
            </section>
        </section>
    </article   >
</article>
